@use 'variables';
@use 'mixins';

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(Poppins);
  color: var(dark);
  overflow-x: hidden;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 0.5rem;
  size: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #018aff;
}
