@import "../../styles/variables";

.menu {
  &__users {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0 0 15px;
    cursor: pointer;

    &--register {
      color: $light;
      background-color: $tertiary;
      border: 1.5px solid $white;
      border-radius: $borderRadius;
      margin-left: 1rem;
      padding: 0.6rem 0.8rem;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        color: #f2f5f7;
        background-color: transparent;
        border: 1.5px solid #f2f5f7;
        transition: all ease-in-out 350ms;
      }
    }
    &--login {
      background-color: transparent;
      border: 1.5px solid $light;
      border-radius: $borderRadius;
      padding: 0.6rem 0.8rem;
      font-size: 1rem;
      color: $white;
      cursor: pointer;
      &:hover {
        color: $light;
        background-color: $tertiary;
        border: 1.5px solid $light;
        transition: all ease-in-out 350ms;
      }
    }
    &--profile {
      color: $light;
      background-color: $tertiary;
      border: 1.5px solid $white;
      border-radius: $borderRadius;
      margin-right: 1rem;
      padding: 0.6rem 0.8rem;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        color: #f2f5f7;
        background-color: transparent;
        border: 1.5px solid #f2f5f7;
        transition: all ease-in-out 350ms;
      }
    }
    &--logout {
      background-color: transparent;
      border: 1.5px solid $light;
      border-radius: $borderRadius;
      padding: 0.6rem 0.8rem;
      font-size: 1rem;
      color: $white;
      cursor: pointer;
      &:hover {
        color: $light;
        background-color: $tertiary;
        border: 1.5px solid $light;
        transition: all ease-in-out 350ms;
      }
    }
  }
}
