@import '../../styles/variables';

.menu {
  &__users {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &--desktop {
      display: flex;
      justify-content: center;
      margin: 0 10px;

      &--icon {
        background-color: transparent;
        width: 35px;
        height: 35px;
        color: $primary;
        cursor: pointer;
        position: relative;
        margin-right: 5px;
      }
      &--text {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        color: $primary;
        cursor: pointer;
        position: relative;
      }
      &--profile {
        width: 45px;
        color: $light;
        background-color: $secondary;
        border: 1.5px solid $white;
        border-radius: 50%;
        padding: 1.5px;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          color: #f2f5f7;
          background-color: transparent;
          border: 1.5px solid #f2f5f7;
          transition: all ease-in-out 350ms;
        }
        &--arrow {
          display: flex;
          margin-right: 1rem;
        }
      }
    }
    &--mobile {
      &--icon {
        background-color: transparent;
        width: 35px;
        height: 35px;
        color: $primary;
        cursor: pointer;
        position: relative;
        margin-right: 5px;
      }
      &--text {
        display: none;
      }
    }

    &--logout {
      background-color: transparent;
      border: 1.5px solid $light;
      border-radius: $borderRadius;
      padding: 0.6rem 0.8rem;
      font-size: 1rem;
      color: $white;
      cursor: pointer;
      &:hover {
        color: $light;
        background-color: $tertiary;
        border: 1.5px solid $light;
        transition: all ease-in-out 350ms;
      }
    }
  }
}

@media (max-width: 979px) {
  .menu__users {
    &--desktop {
      display: none;
    }
  }
}

@media (min-width: 980px) {
  .menu__users {
    &--mobile {
      display: none;
    }
  }
}
