@import '../../styles/variables';


.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
&__icon {
    position: relative;
    width: 90%;
    height: 90%;
    }
span {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #000;
    font-size: 22px;
    right: 15px;
    top: 24px;
    color: $primary;
    background-color: $bg;
    

}
        




}
