@import '../../styles/variables';

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: $primary;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;    
        &__icon {
            width: 90%;
            height: 90%;
            }

        &__count {
            position: absolute;
            text-align: center;
            width: 50%;
            height: 50%;
            border-radius: 50%;
            font-size: 18px;
            right: 0;
            top: 0;
            color: #00498A;
            background-color: $bg;   
        }
}
