@import "../../styles/variables";

.cartwidget {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $primary;
  cursor: pointer;
  position: relative;
  &__icon {
    width: 90%;
    height: 90%;
  }

  &__count {
    position: absolute;
    text-align: center;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    right: 0;
    top: 0;
    color: #000000;
    background-color: $bg;
  }
}
