@import '../../styles/variables';

.menu {
  position: relative;
  z-index: 1000;
  background-color: $dark;
  color: $primary;
  height: 70px;
  box-shadow: $box-shadow-medium;
  list-style: none;
  margin: 0 auto;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  &__links {
    height: 100%;
    transition: transform 0.5s;
    display: flex;
  }
  &__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
    &:hover {
      --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      --transform: rotate(0);
    }
    &--logo {
      display: none;
    }
  }
  &__link {
    color: $links;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
    &:hover {
      background-color: $navlinksbg;
    }
    &--inside {
      padding: 30px 100px 30px 20px;
      &:hover {
        background-color: $navlinksbg;
      }
    }
  }
  &__arrow {
    transform: var(--transform);
    transition: transform 0.3s;
    display: block;
    margin-left: 3px;
  }
  &__nesting {
    list-style: none;
    transition: clip-path 0.3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #333333;
  }
  &__hamburguer {
    height: 100%;
    align-items: center;
    display: none;
  }
}

@media (max-width: 659) {
  .menu__item {
    --clip: 0;
    overflow: hidden;
  }
}

@media (max-width: 979px) {
  .menu__hamburguer {
    display: flex;
  }

  .menu__item {
    --clip: 0;
    overflow: hidden;
    &--logo {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $dark;
    }
    &--text {
      color: white;
      font-size: 1.5rem;
      font-weight: 600;
      transition: all 0.5s;
      &:hover {
        color: $secondary;
      }
    }
  }

  .menu__item--active {
    --transform: rotate(0);
    --background: #74a2ff;
  }

  .menu__item--show {
    background-color: var(--background);
  }

  .menu__links {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }

  .menu__links--show {
    transform: unset;

    width: 100%;
  }

  .menu__link {
    color: $dark;
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
    &:hover {
      background-color: $secondary;
    }
    &--inside {
      &:hover {
        background-color: $secondary;
      }
    }
  }

  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }

  .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
    background-color: white;
  }

  .menu__link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid $primary;
  }
}
