@import "../../styles/variables";

.container-slider {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
}

.img-slider {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
