@import "../../styles/variables";

//Announcement banner
.container-announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  padding: $spacing-sm;
  margin: 0 auto;
  background-color: #fcffe1cd;
  font-weight: bold;
  font-stretch: expanded;
  cursor: pointer;

  &__close {
    margin-left: 1rem;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}
